{% extends "korsina.html" %}
{% load i18n %}
{% block contain %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                            <div class="col-sm-8 control">
                                {{ field }}
                                <span class="help-inline has-error">{{ field.errors }}</span>
                            </div>
                        </div>

                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="submit" class="btn btn-default">{% trans "Save" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}