{% extends "korsina.html" %}

{% block contain %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form class="form-horizontal" id="thisform">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Имя</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Фамилия </label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Female">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Номер телефона</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="number">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Страна</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Country">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Город</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="state">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Адресс</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Adres">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Дальше</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}